.chart-container-pie {
  height: 260px;
  max-width: 400px;
}

.chart-container-line {
  height: 320px;
}

.chart-container-bar {
  width: 100%;
  min-height: 320px;
  max-height: 400px;
  margin: 0 auto;
  padding: 1rem 0;
}

.chart-container-trend {
  width: 100%;
  min-height: 320px;
  max-height: 400px;
  margin: 0 auto;
  padding: 1rem 0;
}

.chart-container-resolution {
  width: 100%;
  min-height: 320px;
  max-height: 400px;
  margin: 0 auto;
  padding: 1rem 0;
}
